<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="list-group">
            <!--Qui abbiamo accesso al percorso dinamico-->
            <a
                    [routerLink]="['../servers',server.id]"
                    [queryParams]= "{allowEdit: server.id === 3 ? '1':'0'}"
                    fragment="loading"
                    href="#"
                    class="list-group-item"
                    *ngFor="let server of servers"
            >
                {{ server.name }}
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <!--<app-edit-server></app-edit-server>-->

        <router-outlet></router-outlet>
        <!--
        <hr>
      &lt;!&ndash; ! Facciamo inserire un numero, questo numero viene parsato
      ! e fatta la richiesta alla rotta, portandosi il parametro dinamico &ndash;&gt;
      <input #idServer>
        <button class="btn btn-primary"
                (click)="onLoadServe(parseInt(idServer.value))">Load Server</button>
    --></div>
</div>

