<div class="row mt-5">
  <div class="col-12">
    <img [src]="recipe?.imageUrl" alt="{{recipe?.name}}" class="img-responsive" style="max-height: 150px">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{recipe?.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuClickable" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
        Manage recipe
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickable">
        <li><a class="dropdown-item">To shopping list</a></li>
<!--        <li><a class="dropdown-item" [routerLink]="[recipe?.id,'edit']"> Edit articolo </a></li>-->
<!--        <li><a class="dropdown-item" [routerLink]="[recipe?.id,'delete']"> Delete articolo </a></li>-->

        <li><a class="dropdown-item" (click)="onUpdate()"> Edit articolo </a></li>
        <li><a class="dropdown-item" (click)="onDelete()">Delete articolo</a></li>

      </ul>
    </div>
   <!-- <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">

        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To shopping list</a></li>
        <li><a href="#">Edit articolo</a></li>
        <li><a href="#">Delete articolo</a></li>
      </ul>
    </div>-->
  </div>
</div>

<div class="row">
  <div class="col-12">
    {{recipe?.description}}
  </div>
</div>
